body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: lightseagreen;
    color: lightblue;
    text-align: center;
    font-size: 28px;
}

h2 {
    color: darkcyan;
}

h4 {
    color: darkolivegreen;
}

ul {
    color: dimgray;
}